h1{
   font-family: helvetica;
    font-size: 2em;
    float: right;
    font-family: 'Raleway', sans-serif;
    color: white;
}

nav{
    padding-right: 400px
    
}

h1{
   font-family: helvetica;
    font-size: 2em;
    float: right;
    font-family: 'Raleway', sans-serif;
    color: white;
}

#background img{
    object-fit:cover;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.5;
}
a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
     border-radius: 8px;
}

a:hover, a:active {
    background-color: darkgrey;
}

nav{
    float:center;   
    padding-top: 180px;
    padding-left: 350px;
    font-family: 'Raleway', sans-serif;
}