h1{
   font-family: helvetica;
    font-size: 2em;
    float: right;
    font-family: 'Raleway', sans-serif;
}

#logo img{
    position: absolute;
    max-height: 30px;
    max-width: 30px;
/*    min-width: 5px;*/
    float: left;
}

#background img{
    object-fit:cover;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.5;
}