.mySlides{
   display: block;
    margin:auto 
}


body{
    
    background-color: whitesmoke
}

a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    border-radius: 8px;
   
}

a:hover, a:active {
    background-color: darkgrey;
}

   nav{
    float:center;   
    padding-left: 430px;
    font-family: 'Raleway', sans-serif;
}
