/*
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
    
}
*/
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
} 

#logo{
    position: absolute;
    min-height: 10px;
    min-width: 3%;
    float: left;
}

#gallery, #about, #create{
    margin-left:100px; 
    text-decoration: none;
   
}

footer{
    float:right;

}




