/*

#background {
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
} 
*/

#background img{
    object-fit:cover;
/*    border: 1px solid red;*/
/*    min-height: 100%;*/
    width: 100%;
    margin: 0;
}

#logo{
    position: fixed;
    min-height: 10px;
    min-width: 3%;
    float: left;
}

#gallery, #about, #create{
    margin-left: 100px; 
    text-decoration: none;   
}

.social media{
    max-height: 10px;
    max-width: 15px;  
}

body{
    margin: 0;
    
}






