/*

#background {
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
} 
*/

#background img{
    object-fit:cover;
/*    border: 1px solid red;*/
/*    min-height: 100%;*/
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#logo img{
    position: absolute;
    min-height: 10px;
/*    min-width: 5px;*/
    float: left;
    border: 1px solid red
}

#gallery, #about, #create{
    margin-left: 100px; 
    border: 1px solid red   
}

.social media{
    max-height: 10px;
    max-width: 15px;  
}

body{
    margin: 0; 
}






