nav, footer, div{
/*    border: 2px solid red ;*/

}

#background img{
    object-fit:cover;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.8;
}

.social media{
    max-height: 10px;
    max-width: 15px;  
}

body{
    margin: 0; 
}

nav{
    float:right;   
    padding-top: 60px;
    font-family: 'Raleway', sans-serif;

}

a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    border-radius: 8px;
}

a:hover, a:active {
    background-color: darkgrey;
    border-radius: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    left:0; 
    width: 100% ;
    background-color: lightgrey;
    height: 55px;
    padding-top: 2% ;
    font-family: 'Raleway', sans-serif;
}

footer #social .fa {
    padding-right: 10px ;
    font-size: 1.3em ;
}

footer #email {
    width: 33% ;
    float: left;
    text-align: center;
}

footer #phone {
    width: 33% ;
    float: left;
    text-align: center;
}

footer #social {
    width: 33% ;
    float: left;
    text-align: center;
}



