/*

#background {
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
} 
*/

#background img{
    object-fit:cover;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.8;
}

#logo img{
    position: absolute;
    min-height: 10px;
/*    min-width: 5px;*/
    float: left;
  
}


.social media{
    max-height: 10px;
    max-width: 15px;  
}

body{
    margin: 0; 
}

nav{
    float:right;   
    padding-top: 30px;
    font-family: 'Raleway', sans-serif;
}

a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: green;
}

#social media img{
    max-height: 20px;
    max-width: 20px;
    border:solid 1px red;
    

}

