body{
    background-color: lightgrey;
    
    
}

a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
     border-radius: 8px;
}

a:hover, a:active {
    background-color: darkgrey;
}

nav{
/*
    float:center;   
    padding-top: 180px;
    padding-left: 350px;
*/
    font-family: 'Raleway', sans-serif;
    float:right;
    padding-top:-15px
}

h2{
    font-family: 'Raleway', sans-serif;   
}

ul{
    font-family: 'Raleway', sans-serif;
}